{% load static %}
<div class="row mt-5 bg-light">
    <div class="col-md-4">
        <h3>Address</h3>
        <hr>
        shiv lila floor.no.4,<br>
        Nashik<br>
        <p><i class="bi bi-telephone-fill "></i>&nbsp; 749964243
        </p>
        <p><i class="bi bi-envelope-fill "></i>&nbsp; rupali@gmail.com
        </p>
    </div>
    <div class="col-md-4">
        <h3>Quick links</h3>
        <hr>
        <p><a href="index.html" class="anchor">Home</a> </p>
        <p><a href="about.html" class="anchor">About</a> </p>
        <p><a href="cart.html" class="anchor">Cart</a> </p>
        <p><a href="contact.html" class="anchor">Contact</a> </p>
    </div>
    <div class="col-md-4">
        <h3>Contact</h3>

        <hr>
        <h5><a href="http://www.facebook.com"><i class="bi bi-facebook text-danger"></i></a></h5>
        <h5><a href="http://www.instagram.com"><i class="bi bi-instagram text-danger"></i></a></h5>
        <h5><a href="http://www.twitter.com"><i class="bi bi-twitter text-danger"></i></a></h5>
        <h5><a href="http://www.linkedin.com"><i class="bi bi-linkedin text-danger"></i></a></h5>
    </div>
</div>
</div>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

</body>
</html>