
{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<!---------new row for filter --->

<div class="row mt-3 bg-light ">
    <div class="col-md-4 ">
      <h5>Filter by category</h5>
      <hr>
      <p><a class="anchor" href="/catfilter/1">By Mobile</a></p>
      <p><a class="anchor" href="/catfilter/2">By Shoes</a></p>
      <p><a class="anchor" href="/catfilter/3">By Clothes</a></p>

      <h5>Filter by price</h5>
      <hr>
      <form action="/range">
        <div class="mb-3">
          <label for="Input1" class="form-label">Min Value</label>
          <input type="number" name="min" class="form-control" id="Input1" aria-describedby="emailHelp">

        </div> <!--end of min value-->
        <div class="mb-3">
          <label for="Input2" class="form-label">Max Value</label>
          <input type="number" name="max" class="form-control"  id="Input2">
        </div><!--end of max value-->

        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div> <!--end of submit button-->
      </form>
      <h5>Sort by price</h5>
      <hr>
      <p><a class="anchor" href="sort/0">Low To High </a></p>
      <p><a class="anchor" href="sort/1">High To Low </a></p>

    </div><!-- end of filter -->

    <div class="col-md-8">
      <div class="row">
        {% for x in products %}
        <div class="col-md-4 mt-4">
          <div class="card" style="width: 100%;">
            <img src="{{x.pimage.url}}" width="100%" height="250px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{x.name}}</h5>
              <p class="card-text"> {{x.price}}</p>
              {% if x.cat == 1 %}
              <p class="card-text"> Mobile</p>
              {% elif x.cat == 2 %}
              <p class="card-text"> Shoes</p>
              {% else %}
              <p class="card-text"> Clothes</p>
              {% endif %}

              <a href="/pdetails/{{x.id}}" class="btn btn-primary">See details</a>
            </div>
          </div>
        </div> <!--Product 1 end-->
        {% endfor %}

      </div>
    </div><!-- end of products -->
  </div><!-- end of filter and products row-->

  {% endblock 'main' %}