{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <title>Login page</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <a href="/home" style="text-decoration: none;">Home</a>
            </div>
            <div class="col-md-4 shadow mt-5 p-4 mx-auto">

                <h2>User Login</h2>
                {% if errmsg %}
                <div class="alert alert-danger">
                    {{errmsg}}
                </div>
                {% endif %}

                <form method="POST" action="/login">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="Input1" class="form-label">Username : </label>
                        <input type="email" class="form-control" id="Input1" name="uname"
                            placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="Input2" class="form-label">Password : </label>
                        <input type="password" class="form-control" id="Input2" name="upass" placeholder="password">
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-danger">Login</button><br>
                        not user?<a href="/register" style="text-decoration: none;">Register </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>